<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Fonte -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Social Soul</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/usuarios">SOCIAL SOUL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios">PÁGINA INICIAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/cadastrarUsuarios">CADASTRO</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0" action="/usuarios/procurarUsuarios" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name= 'search'>
        <!-- <button class="my-2 my-sm-0 p-md-1" id='btnSearch' type="submit" onclick="/procurarUsuarios">BUSCAR USUÁRIO </button> -->
        <a href="usuarios/procurarUsuarios" class="my-2 my-sm-0 p-md-1" id='btnSearch'  >BUSCAR USUARIOS</a>
      </form>
    </div>
  </nav>