*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
h5{
    color: #200056;
}
.btn{
    width: 10em;
}

/* Navbar */
.navbar{
    background-color: #f6effa;
}
.nav-item{
    width: 10em;
}
.nav-link{
    color: #200056;
}
.nav-link:hover{
    color: #200056;
    font-weight: bold;
}
#btnSearch{
    background-color: #f6effa;
    border: 1px solid #200056;;
    color: #200056;
    font-size: 0.9em;
    
}
#btnSearch:hover{
    font-weight: bold;
}
#logo{
    color: #ff5400;
}

/* Usuários */
.anuncios img{
    height: 18em;
    width: 15em;
}
#cadastrados{
    font-size: 18px;
    margin:  5% 2%;
    text-align: right;
}
.imgAnuncio{
    height: 100%;
    width: 100%;
}
#linkNome{
    color: #200056;
    font-size: 15px;
    text-decoration: none;
}
#linkNome:hover{
    color: #200056;
    font-weight: bold;    
}

/* Posts */
#nomePost{
    color: #ff5400;
    margin-top: 1%;
}
#post{
    background-color: #f6effa;
    margin: 2em;
    padding: 2em;
}
#postsDiv span{
    text-align: justify;
    word-wrap:break-word;
}
#postImg{   
    margin: 0%, 2% 0% 5%;
    width: 37em;
}

/* Cadastro */
textarea{
    margin: 0;
    padding: 0;
}
#btn{
    background-color: #f6effa;
    border: 1px solid #200056;
    color: #200056;
}
#btn:hover{
    background-color: #200056;
    color: #f6effa;
}

form{
    background-color: #f6effa;
}

